* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #15222c;
  font-family: "Roboto Mono", monospace;
  color: #c46506;
}

.form-box {
  box-sizing: border-box;
  background-color: #233b43;
  border: 2px solid #c46506;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.542);
  border-radius: 8px;
  width: 500px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-box h1 {
  margin-bottom: 20px;
}

.anagram-input input[type="text"] {
  width: 100%;
  margin-bottom: 50%;
}

.submit-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.submit-button input[type="submit"] {
  background-color: #c46506;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}
